.Accueil {
    text-align: center;
    font: 13px AvalonMedium, Arial, sans-serif;
      
  }

  .champs {
    width: 88%;
    border: none;
    border-bottom: 2px solid gray; 
  }

  .forget {
    margin-left: 48%;
  }  

  .button
{
    font-size: 20px;
    color:whitesmoke;
    background-color: #d50032;
    width: 88%;
    height: 100%;
}